*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
    width:100vw;
    height:100vh;
    max-width: 100%;
}

.container{
    
    background:#f5f5f5;
    width:100%;
    height:100%;
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 10px solid white;
    padding:20px;
}

.left{
    
    display: flex;
    align-content: center;
    justify-content:center;
    width:50%;
    height:100%;
}
.left img{
    
    width:100%;
    margin-top: -1px;
    height:100%;
}

.right{    
    display: flex;
    flex-direction: column;    
    width:50%;
    height:100%;
    background:black;
    align-content: center;
    justify-content:center;
}

.topo  {
     
    display:flex;
    justify-content:center;
    align-content: center;
   
    height:28%;
  }
  
.final{
  font-family: Squada One;
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  
 

  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;

  color: #DAD7D7;

   
  }
  
.sale {
   
    margin-top:15px;
    display: flex;
    align-items: center;
    margin-top: 40px;


font-family: Bad Script;
font-style: normal;
font-weight: normal;
font-size: 100px;

display: flex;
align-items: center;
text-align: center;

color: #FF0000;

  }
  
  .discounts {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;  
    height:32%;
    
  }
  #sixty {
    
    margin-top: 2px;
    font-family: Squada One;
    font-style: normal;
    font-weight: normal;
    font-size: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    color: #ff0000;
  }
  .discounts1 {
    
    display: flex;
    flex-direction: column;
  }
  
  #percents {
    margin-top: 10px;
    font-size: 58px;
    font-family: Spartan;
    text-align: start;
    font-weight: 300;
  
    color: #ffffff;
  }
  #off {
    
    font-family: Spartan;
    font-weight: 300;
    font-size: 72px;
    
    
    text-align: center;
  
    color: #ffffff;
  }
  
  
  .recive{
      
  width: 450px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  align-items: center;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  
  color: #FFFFFF;
  
  margin: auto;
  
  }
  
  #email{
  height:30px;
  width:300px;
  margin:15px auto;
  background: #C4C4C4;
  display: flex;
  border-radius:5px;
  text-align: center;
  
  }
  
  .btn-receber{
  width: 125px;
  height: 25px;
  display: flex;
  background: #FF0000;
  margin: 5px auto;
  
  
  text-align: center;
  font-size: 15px;
  color: #FFFFFF;
  border-radius:5px;
  }
  
  .btn-receber:hover{
      background: #FFFFFF;
      color: #FF0000;
  }
  strong{
      color: #FF0000;
  }
